<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>Account settings</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<style type="text/css">td img {display: block;}</style>
	<link rel="stylesheet" type="text/css" href="/static/css/account_settings.css" media="all" />
	<!--[if IE]>
	<style type="text/css" media="all">.borderitem {border-style: solid;}</style>
	<![endif]-->
</head>

<body>
<img src="/static/img/article/achievement_r1_c1.png" id="achievement_r1_c1" alt="" />
<img src="/static/img/article/achievement_r1_c3.png" id="achievement_r1_c3" alt="" />
<div id="achievement_r2_c1">
</div>

<div id="Div">
</div>
<div id="Box3SliceContainer">



	<div id="Box3SliceContainer_top_1">
	</div>
    <div id="LibraryButton">
	<a class="LibraryButton" href="/book/"><span>&nbsp;</span></a>
</div> 
    
    <div class="welcomeuser">



<div id="wrap"></br>

<div class="as_bg">
  <div class="as_content">
    <div class="as1"><span class="as_setting">{{ username }}</span>, here are your account settings: </div>
    
    {% if steamID %}
    <div class="as_avatar">
    <img name="avatar_L" src="/{{ avatar_img }}" border="0" /> </br>
    </div>
    {% endif %}
    
    <div class="as1_param">Username : <span class="as_setting"> {{ username }} </span> </div>
    
    <div class="as1_param">Email : <span class="as_setting"> {{ user.email }} </span> </div>
    
    {% if not steamID %}
    </br>
    </br>
       <div class="steam_explanation">
        <span class="as1_param">For customization based on your achievements, Please submit your <span class="as_setting">Steam&copy;</span> username: </span>
       </div>
    
       <form class="steam" action="/account/" method="post">{% csrf_token %}
       {{ form.as_p }}
       <input type="submit" value="Submit" />
       </form>
    
    </br>
    </br>
    {% else %}
    <div class="as1_param">Steam ID: <span class="as_setting"> {{steamID}} </span> </div>
    <div class="as1_param">Age: <span class="as_setting"> {{age}} </span> </div>
    <div class="as1_param">Language: <span class="as_setting"> {{language}} </span> </div>
    </br>
    {% endif %}
    
    <div class="as1_param">Achievements : </div>
    <div class="userachlist">
    {% if ach_message %}
      <span class="as_setting_ach">{{ ach_message }} </span>
    {% else %}
      {% for achievement in achievements %} 
      <img name="ach_icon" src="/{{ achievement.icon_closed }}" border="0" /> 
         <span class="as_setting_ach"> {{ achievement }} </span> </br>
         <hr align="left" width="300px"/>
      {% endfor %}
    {% endif %}
    </div>
    
    </br>

  </div>
  
</div>
    
    
    
    
<div id="Box3SliceContainer_bottom_1">
</div>




</div>

<!--<img src="/static/img/article/avatar.png" id="avatar" alt="" />-->
</body>
</html>
