<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title>login</title>
	<link rel="stylesheet" type="text/css" href="/static/css/login.css" media="all" />
	<!--[if IE]>
	<style type="text/css" media="all">.borderitem {border-style: solid;}</style>
	<![endif]-->
<style type="text/css">
body {
	background-image: url(/static/img/login/bg.jpg);
}
</style>
</head>

<body>


{% if form.errors %}
<p>Your username and password didn't match. Please try again.</p>
{% endif %}

<form method="post" action="/accounts/profile/">
{% csrf_token %}
<--{{ form.as_p }}-->
<!--
<table>
<tr>
    <td>{{ form.username.label_tag }}</td>
    <td>{{ form.username }}</td>
</tr>
<tr>
    <td>{{ form.password.label_tag }}</td>
    <td>{{ form.password }}</td>
</tr>
</table>
-->





<!-- <form method="post" action="http://localhost:8000/accounts/profile/"> -->
<!-- <input type="hidden" name="csrfmiddlewaretoken" value="0247c276ea16e4144a20817e3e1c22f2"> -->
<div id="Div">
</div>
<div id="Div2">
</div>
<div class="Txt_Beta">
	
		<p class="lastNode">Beta
	</p>
</div>
<div id="Div3">
</div>
<div id="Div4">
</div>
<div id="Div5">
</div>
<div id="Div6">
</div>
<div id="Div7">
</div>
<div class="Txt_empty">
	
		<p class="lastNode">	
	</p>
</div>
<div id="Div8">
</div>
<div class="Txt_Username">
	
		<p class="lastNode">Username
	</p>
</div>
<div id="Div9">
  <tag1></tag1>
  <p><input style="margin-left:3px; background:#b3b3b3; border:0 solid #ffffff; font-size: 18px; width: 100%; height: 25px;" id="id_username" type="text" name="username" maxlength="30" /></p>
</div>
<div class="Txt_Password">
	
		<p class="lastNode">Password
	</p>
</div>
<div id="Div10">
  <p><input style="margin-left:3px; background:#b3b3b3; border:0 solid #ffffff; font-size: 18px; width: 100%; height: 25px;"type="password" name="password" id="id_password" /></p>
</div>
<div id="Line">
</div>
<div id="Line2">
</div>
<div id="Div11">
</div>
<div id="Div12">
</div>

<img src="/static/img/login/login_r1_c1.jpg" id="login_r1_c1" alt="" />
<img src="/static/img/login/login_r1_c2.jpg" id="login_r1_c2" alt="" />
<img src="/static/img/login/login_r1_c6.jpg" id="login_r1_c6" alt="" />
<img src="/static/img/login/login_r2_c2.jpg" id="login_r2_c2" alt="" />
<img src="/static/img/login/login_r3_c2.jpg" id="login_r3_c2" alt="" />
<img src="/static/img/login/login_r3_c5.jpg" id="login_r3_c5" alt="" />
<img src="/static/img/login/login_r4_c2.jpg" id="login_r4_c2" alt="" />
<img src="/static/img/login/login_r5_c2.jpg" id="login_r5_c2" alt="" />
<img src="/static/img/login/login_r5_c5.jpg" id="login_r5_c5" alt="" />
<img src="/static/img/login/login_r6_c2.jpg" id="login_r6_c2" alt="" />
<a href="/accounts/register"><img src="/static/img/login/login_r7_c2.jpg" id="login_r7_c2" alt="" /></a>
<input TYPE="image" src="/static/img/login/login_r7_c4.jpg" id="login_r7_c4" type="submit" value="login">
<input type="hidden" name="next" value="{{ next }}" />
<img src="/static/img/login/login_r8_c2.jpg" id="login_r8_c2" alt="" />
</form>
</body>
</html>
