@charset "utf-8";

body {
	background-color: #6b6b6b;
	background-attachment: scroll;
	background-image: url(/static/img/article/bg3.png);
	background-repeat: no-repeat;
	font-size: 62.5%;
	margin: 0;
	padding: 0;
}
body * {
	font-size: 100%;
}
h1, h2, h3, h4, h5, h6 {
	font-weight: normal;
}
p {
	margin-bottom: 1.1em;
	margin-top: 0;
}
#main p.lastNode {
	margin-bottom: 0;
}
a:link img, a:visited img {
	border: none;
}
div.clearFloat {
	clear: both;
	font-size: 0;
	height: 0;
	line-height: 0px;
}
li.clearFloat {
	clear: both;
}
ul.symbolList {
	display: inline;
	float: left;
	list-style-type: none;
	margin: 0;
	padding: 0;
}
.AbsWrap {
	position: relative;
	width: 100%;
}
.rowWrap {
	width: 100%;
}
#wrap {
	margin: 0 auto 0 auto;
	width: 1024px;
}
#topmenu {
	margin-left: 0px;
	margin-top: 0px;
	display: inline;
	float: left;
	margin-bottom: 0;
	background-color: #434343;
	background-attachment: scroll;
	background-image: url(/static/img/article/expertview_r1_c14.png);
	background-position: center center;
	background-repeat: repeat-x;
	width: 1061px;
	padding-top: 0px;
	height: 41px;
}

#LibraryButton{
margin-left: 8px;
}

#topmenu_right{
	margin-left: 572px;
	
	}
html > body #expertview_r1_c14 {
	height: auto;
	min-height: 41px;
}

#verticalline {
	margin-left: 0px;
	margin-top: 0px;
	display: inline;
	float: left;
	height: 41px;
	margin-bottom: 0;
	width: 15px;
}

#content{
	padding:20px 20px 20px 30px;
	font-size:12px;
	font-color:whihte;
	font-family: Arial, Helvetica, sans-serif;
	color: #CCCCCC;
	width:600px;
	max-width:600px;	
	}
#content img{
	max-width:600px;
	height:auto;
	
}
#content table{
	max-width:600px;
	height:auto;
	
}
#main {
	margin-left: 0px;
	margin-top: 7px;
	display: inline;
	float: left;
	margin-bottom: 0;
	width: 719px;
	background-image: url(/static/img/article/expertview_r6_c1.png);
	background-repeat: repeat;
}
#Box3SliceContainer_top_1 {
	margin-left: 0px;
	margin-top: 0px;
	background-image: url(/static/img/article/expertview_r4_c1.png);
	overflow: hidden;
	display: inline;
	float: left;
	height: 31px;
	margin-bottom: 0;
	width: 719px;
}
#Box3SliceContainer_bottom_1 {
	margin-left: 0px;
	margin-top: 0px;
	background-image: url(/static/img/article/expertview_r10_c1.png);
	overflow: hidden;
	display: inline;
	float: left;
	height: 40px;
	margin-bottom: 0;
	width: 719px;
}
#tableofcontentspart{
	margin-left: 472px;
  //  margin-top:10px;
  
	
}

#tableofcontentspart a{
	
	text-decoration:none;
	color: #00cc33;
	//letter-spacing:2px
	//line-height:150%;
  
	
}

#tableofcontentspart p{
	
	line-height:200%;
  
	
}





#tableofcontents {
	padding:20px 20px 20px 30px;
	font-size:12px;
	font-color:whihte;
	font-family: Arial, Helvetica, sans-serif;
	color: #CCCCCC;
	//margin-right:10px;
	//max-width:250px;
	margin-top:0px;
	margin-left:247px;
	background-image: url(/static/img/article/expertview_r6_c7.png);
	background-repeat: repeat-y;	
	
	
	/*
	max-width:600px;
	margin-left: 0px;
	margin-top: 5px;
	display: inline;
	float: left;
	margin-bottom: 0;
	max-width:305px;
	width: 305px;
	background-image: url(/static/img/article/expertview_r6_c7.png);
	background-repeat: repeat;
	*/
}

#tableofcontents a{
	
	
	}

#Box3SliceContainer_top_2 {
	margin-left: 0px;
	margin-top: 0px;
	background-image: url(/static/img/article/expertview_r4_c7.png);
	overflow: hidden;
	display: inline;
	float: left;
	height: 31px;
	margin-bottom: 0;
	width: 305px;
}
#Box3SliceContainer_bottom_2 {
	margin-left: 0px;
	margin-top: 0px;
	background-image: url(/static/img/article/expertview_r8_c7.png);
	overflow: hidden;
	display: inline;
	float: left;
	height: 36px;
	margin-bottom: 0;
	width: 305px;
}
@charset "utf-8";
/* CSS Document */

.clear { /* generic container (i.e. div) for floating buttons */
    overflow: hidden;
    width: 100%;
}

a.LibraryButton {
    background: transparent url('/static/img/article/library_a.png') no-repeat scroll top right;
    color: #ffffff;
    display: block;
    float: left;
    font: normal 12px arial, sans-serif;
    height: 37px;
	width:100px;
    margin-right: 1px;
	margin-top: 1px;
    padding-right: 10px; /* sliding doors padding */
    text-decoration: none;
}

a.LibraryButton span {
    background: transparent url('/static/img/article/library_span.png') no-repeat;
    display: block;
    line-height: 27px;
    padding: 5px 0 5px 18px;
}


a.LibraryButton:active {
    background-position: bottom right;
    color: #ffffff;
    outline: none; /* hide dotted outline in Firefox */
}


a.LibraryButton:active span {
    background-position: bottom left;
    padding: 6px 0 4px 18px; /* push text down 1px */
}



a.ModeButton {
    background: transparent url('/static/img/article/button_a.png') no-repeat scroll top right;
    color: #ffffff;
    display: block;
    float: left;
    font: normal 12px arial, sans-serif;
    height: 24px;
    margin-right: 1px;
	margin-top: 10px;
    padding-right: 10px; /* sliding doors padding */
    text-decoration: none;
}

a.ModeButton span {
    background: transparent url('/static/img/article/mode_span.png') no-repeat;
    display: block;
    line-height: 14px;
    padding: 5px 0 5px 18px;
}


a.ModeButton:active {
    background-position: bottom right;
    color: #ffffff;
    outline: none; /* hide dotted outline in Firefox */
}


a.ModeButton:active span {
    background-position: bottom left;
    padding: 6px 0 4px 18px; /* push text down 1px */
}



a.ContentButton {
    background: transparent url('/static/img/article/button_a.png') no-repeat scroll top right;
    color: #ffffff;
    display: block;
    float: left;
    font: normal 12px arial, sans-serif;
    height: 24px;
    margin-right: 1px;
	margin-top: 10px;
    padding-right: 10px; /* sliding doors padding */
    text-decoration: none;
}

a.ContentButton span {
    background: transparent url('/static/img/article/content_span.png') no-repeat;
    display: block;
    line-height: 14px;
    padding: 5px 0 5px 18px;
}


a.ContentButton:active {
    background-position: bottom right;
    color: #ffffff;
    outline: none; /* hide dotted outline in Firefox */
}

a.ContentButton:active span {
    background-position: bottom left;
    padding: 6px 0 4px 18px; /* push text down 1px */
}
a.NotesButton {
    background: transparent url('/static/img/article/button_a.png') no-repeat scroll top right;
    color: #ffffff;
    display: block;
    float: left;
    font: normal 12px arial, sans-serif;
    height: 24px;
    margin-right: 1px;
	margin-top: 10px;
    padding-right: 10px; /* sliding doors padding */
    text-decoration: none;
}

a.NotesButton span {
    background: transparent url('/static/img/article/notes_span.png') no-repeat;
    display: block;
    line-height: 14px;
    padding: 5px 0 5px 18px;
}


a.NotesButton:active {
    background-position: bottom right;
    color: #ffffff;
    outline: none; /* hide dotted outline in Firefox */
}

a.NotesButton:active span {
    background-position: bottom left;
    padding: 6px 0 4px 18px; /* push text down 1px */
}


a.LogoutButton {
    background: transparent url('/static/img/article/button_a.png') no-repeat scroll top right;
    color: #ffffff;
    display: block;
    float: left;
    font: normal 12px arial, sans-serif;
    height: 24px;
    margin-right: 1px;
	margin-top: 10px;
    padding-right: 10px; /* sliding doors padding */
    text-decoration: none;
}

a.LogoutButton span {
    background: transparent url('/static/img/article/logout_span.png') no-repeat;
    display: block;
    line-height: 14px;
    padding: 5px 0 5px 18px;
}


a.LogoutButton:active {
    background-position: bottom right;
    color: #ffffff;
    outline: none; /* hide dotted outline in Firefox */
}

a.LogoutButton:active span {
    background-position: bottom left;
    padding: 6px 0 4px 18px; /* push text down 1px */
}

.usercolor{

color:#ffffff;

text-decoration:none;

}

.usercolor:hover{
color:#009900;


}
.welcomeuser{
padding-top:8px;
//padding-left:800px;
}

.welcomeuser a{


//padding-left:700px;
color:#009900;
text-decoration:none;
font-size:20px;
font-family: Arial, Helvetica, sans-serif;

}