@charset "utf-8";body {	background-color: #fff;	background-attachment: scroll;	background-image: url(images/bg2.png);	background-repeat: no-repeat;	font-size: 62.5%;	margin: 0;	padding: 0;}

.welcomeuser{
  margin: 10px 0 10px 20px;
  font-size: 18px;
  color: white !important;
}

.welcomeuser a  {
  color: white;
  text-decoration: none;
}

.usercolor{
  color: #33ff33;
}
