{% load markup %}
{% load mptt_tags %} 
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<title> {{ article.book.name }} | {{ article.title }} </title>
		<script type="text/javascript" src="/static/js/jquery-1.6.4.js"></script>
<!--		<script type="text/javascript" src="/static/js/custom_view.js"></script> -->
		<script type="text/javascript" src="/static/js/DAGS.js"></script>	
    <script type="text/javascript" src="/static/js/menu.js"></script>

<script>
$(document).ready(function(){
  var view_state= "{{ view_state }}";
  $("div#content .{{ view_state }}").show();
  $("div#content .{{ other_state }}").hide();

  $("a#switch").click(function(event){
    event.preventDefault();
    if (view_state=="novice") {
      // expert view
      view_state = "expert";

      $(this).children().text("Switch to novice");
      $("div#content .expert").slideDown();
      $("div#content .novice").slideUp();
      
    } else {
      // novice view
      view_state = "novice";

      $(this).children().text("Switch to expert");
      $("div#content .novice").slideDown();
      $("div#content .expert").slideUp();
    }
  });
});
</script>

		<link rel="stylesheet" type="text/css" href="/static/css/expertview.css" media="all" />
    <link rel="stylesheet" type="text/css" href="/static/css/popupmenu.css" media="all" />
		<!--[if IE]>
		 <style type="text/css" media="all">.borderitem {border-style: solid;}</style>
		 <![endif]-->
	</head>
	
	<body>
		<div id="wrap"><!--this is for the whole page aligiment center-->
			<div id="topmenu"><!--this is for the top menu-->
				<div id="LibraryButton">
          <a class="LibraryButton" href="/book/">
          <span>&nbsp;</span></a>
        </div>
				<div id="topmenu_right"> <!--this is for the top menu 4 button on the right to align right-->
					<a id="switch" class="ModeButton" href="#">
            <span>{% if view_state == "novice" %} Switch to expert
                  {% else %} Switch to novice
                  {% endif %}
            </span>
            </a> 
					
					<img src="/static/img/article/expertview_r1_c5.png" id="verticalline" alt="" /> 
          <ul id="nav">
          <li>
					<a class="ContentButton" href="#">
          <span>content</span></a>
            <ul>
            {% recursetree toc %}
                  <li>
                      {% if node.is_leaf_node %}
                      <a href={% url contents.views.display_article book_name|slugify node.article.title|slugify %}>
                      {{ node.article.title }}
                      </a>
                      {% else %}
                      <a href="#">
                      {{ node.name }}
                      </a>
                      <ul class="children">
                          {{ children }}
                      </ul>
                      
                      {% endif %}
                  </li>
              {% endrecursetree %}
            </ul>
          </li>
          </ul>
          
<!-- 					<img src="/static/img/article/expertview_r1_c5.png" id="verticalline" alt="" /> 
					<a class="NotesButton" href="#"><span>Notes</span></a> --> 
					<img src="/static/img/article/expertview_r1_c5.png" id="verticalline" alt="" /> 
					<a class="LogoutButton" href="/accounts/login/"><span>Logout</span></a> <div class="welcomeuser" id="welcomeuser">


{% if user.is_authenticated %}


<a href="/account/settings/"><span class="usercolor">{{ user.username }}</span></a>
<!--<span id="here_books">Here are the available books:<span></br>-->
{% endif %}






</div></div>
			</div>
			<div id="main"><!--this is for the main page contain article and table of contents-->
				<div id="mainArticle"><!--this is for the main article-->
					<div id="Box3SliceContainer_top_1"> </div>
          <div class="paging">
          {% if prev_node and prev_node.book == article.book %}
            Previous: <a href={% url contents.views.display_article book_name|slugify prev_node.article.title|slugify %}>
                      {{prev_node.article.title}} </a> &nbsp;&nbsp;&nbsp;
          {% endif %}
          {% if next_node and next_node.book == article.book %}
            Next: <a href={% url contents.views.display_article book_name|slugify next_node.article.title|slugify %}>
                      {{next_node.article.title}} </a>
          {% endif %}
          </div>
					<div id="content"> 
						{{ article.content|textile }}
					</div>
					<div id="Box3SliceContainer_bottom_1"> </div>
				</div>
				
			</div>
			<div id="Box3SliceContainer_top_2"> </div>
			<div id="tableofcontentspart">
				<div id="tableofcontents">
                                     Chapter Contents:
                                     </br>
        </div>
				<div id="Box3SliceContainer_bottom_2"> </div>
        <div id="percentage">
         <div id="percentage_text">
         <ul>
           <li>This article is related to <span class="whitey">{{ article_ach }}</span> achievements.</li>
           <li>You fulfilled <span class="whitey">{{ user_ach }}</span> achievements.</li>
           <li><span class="whitey">{{ percentage|floatformat }}%</span> of achievements gained </li>
           <li>You are {%if view_state == "novice"%} a {% else %} an {% endif %} <span class="whitey">{{ view_state }}</span>.</li>

         </div>
        </div>
			</div>
    </div>
	</body>
</html>
